body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.clipboard-button {
  display: none;
}

.clipboard--supported .clipboard-button {
  display: initial;
}

.slide {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	background: #ddd;
	text-align: center;
	line-height: 100px;
	display: inline-block;
}

.slide.current{
	border: 2px solid red;
	background: #c17d7d;
}

.btn {
  background-color: #ddd; /* Green */
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn-primary {
  background-color: #008CBA; /* Green */
  color: #fff;
}

/* calculator */
#calculator{
  width: 350px;
  border: 1px solid #000;
}
#calculator .result{
  background: #fff;
  border-bottom: 1px solid #2b2b2b;
  padding: 6px 4px;
  max-width: 100%;
  text-align: right;
  height: 40px;
}

#calculator .result span.previous{
  font-size: 12px;
  color: #2b2b2b;
}

#calculator .result .current{
  font-size: 18px;
  margin-top: 3px;
}

#calculator button{
  background: #f2f2f2;
  border: 1px solid #ddd;
  margin: 4px;
}
